<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <script src="../../javascripts/three.js"></script>
  <script src="../../javascripts/GLTFLoader.js"></script>
  <link rel="stylesheet" href="../../stylesheets/slider.css">
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>
		<h1>Chamboric</h1>
		<h4>Bio Biologicals</h4>
		Egalitarian gene modifiers.
		</br>

<%- include('../../partials/section', {page: 'Chamboric',title: 'Forms',section: "<h4>Chamboric</h4>\nThe Chamboric are a jelly fish like creature. The Chamboric evolved an enzime which they can use to alter their genetic code. This means that the Chamboric can alter themselves into any form they want. The Chamboric are also extreemly ethically minded and beleive that everything wants to be a one of them. Because of this they used their enzime to evolve all the animals of their world into members of their race."}); -%>

<%- include('../../partials/section', {page: 'Chamboric',title: 'Manipulation',section: "The Chamboric modify themselves into their tools, weapons, structures and starships."}); -%>

<%- include('../../partials/section', {page: 'Chamboric',title: 'Society',section: "The Chamboric society is called the common wealth. In the common wealth each chamboric has time shares which they use to decide which members have to be the tools and structures that maintain society and which members get to be citizens that get to use those facilities. The Chamboric attempt to be as fair as possible as to which individuals and how long those individuals have to ocupy the other non civilian forms."}); -%> 

<%- include('../../partials/section', {page: 'Chamboric',title: 'Factions',section: "Coming Soon"}); -%>
		
<%- include('../../partials/section', {page: 'Chamboric',title: 'Homeworld',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Chamboric',title: 'Systems',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Chamboric',title: 'History',section: "Coming Soon"}); -%>

	</center>
  </body>
</html>
<%- include('../../partials/footer') %>