<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <script src="../../javascripts/three.js"></script>
  <script src="../../javascripts/GLTFLoader.js"></script>
  <link rel="stylesheet" href="../../stylesheets/slider.css">
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>
		<h1>Miiloth</h1>
		<h4>Techno Crystologicals</h4>
		Invincible space merauders.
		</br>

<%- include('../../partials/section', {page: 'Miiloth',title: 'Forms',section: "<h4>Miiloth</h4>\nThe Miiloth are a race of floating crystals bound togeather with archs of plasma. The miiloth are capable of surviving in space as long as they have electronic components connecting their parts togeather. Being in space is excruciating for each Miiloth and because of prolonged exposure each of them is slightly insain. The Miiloth are all about short term gains and will do almost anything to get what they want. Miiloth find the conditions in fusion reactions similar to their homeworld and thus are atracted to ships with that technology."}); -%>

<%- include('../../partials/section', {page: 'Miiloth',title: 'Manipulation',section: "Because of their physiology the Miiloth are capable of activating electric circuts with their plasma. They use this ability to hack other races technology.\n</br>\nThe Miiloth dont have the ability to construct their own technology and thus steal eveything they can get their hands on."}); -%>

<%- include('../../partials/section', {page: 'Miiloth',title: 'Society',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Miiloth',title: 'Factions',section: "Coming Soon"}); -%>
		
<%- include('../../partials/section', {page: 'Miiloth',title: 'Homeworld',section: "The Miiloth homeworld is an earth sized planet with a super thick atmosphere. Their world is a volcanic waistland similar to venus. Near the surface the planet has frequent plasma storms."}); -%>

<%- include('../../partials/section', {page: 'Miiloth',title: 'Systems',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Miiloth',title: 'History',section: "Coming Soon"}); -%>
	</center>
  </body>
</html>
<%- include('../../partials/footer') %>