<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <script src="../../javascripts/three.js"></script>
  <script src="../../javascripts/GLTFLoader.js"></script>
  <link rel="stylesheet" href="../../stylesheets/slider.css">
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>
		<h1>Null-Beta</h1>
		<h4>Bio Crystologicals</h4>
		Crystals in the trees.
		</br>

<%- include('../../partials/section', {page: 'NullBeta',title: 'Forms',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'NullBeta',title: 'Manipulation',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'NullBeta',title: 'Society',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'NullBeta',title: 'Factions',section: "Coming Soon"}); -%>
		
<%- include('../../partials/section', {page: 'NullBeta',title: 'Homeworld',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'NullBeta',title: 'Systems',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'NullBeta',title: 'History',section: "Coming Soon"}); -%>

	</center>
  </body>
</html>
<%- include('../../partials/footer') %>