<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <script src="../../javascripts/three.js"></script>
  <script src="../../javascripts/GLTFLoader.js"></script>
  <link rel="stylesheet" href="../../stylesheets/slider.css">
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>
		<h1>Rabani've</h1>
		<h4>Crysto Technologicals</h4>
		Robotic locust eco preservers.
		</br>

<%- include('../../partials/section', {page: 'Rabanive',title: 'Forms',section: "<h4>Jyatani</h4>\nComing Soon\n<h4>Rabani've</h4>\nThe Rabani've were a sentient group of insect like creatures. The Rabani've were medieval farmers and due to their increased food requirements were over farming.<h4>Acended Rabani've</h4>\nThe Rabani've were easier to acend to robotic bodies. Thus the acended Rabani've are robotic versions of their biological selves but they don't have the same food requirements. A quirk of their hasty ascenion is that they are still hungry."}); -%>

<%- include('../../partials/section', {page: 'Rabanive',title: 'Manipulation',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Rabanive',title: 'Society',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Rabanive',title: 'Factions',section: "Coming Soon"}); -%>
		
<%- include('../../partials/section', {page: 'Rabanive',title: 'Homeworld',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Rabanive',title: 'Systems',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Rabanive',title: 'History',section: "Coming Soon"}); -%>

	</center>
  </body>
</html>
<%- include('../../partials/footer') %>