<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <script src="../../javascripts/three.js"></script>
  <script src="../../javascripts/GLTFLoader.js"></script>
  <link rel="stylesheet" href="../../stylesheets/slider.css">
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>
		<h1>Tzizet</h1>
		<h4>Crysto Crystologicals</h4>
		Technocratic super hiarchy.
		</br>
<%- include('../../partials/section', {page: 'Tzizet',title: 'Forms',section: "<h4>ee-nas</h4>\nThe Tzizet are a sentient quarts crystal. They are capable of cleiving their surface then reforming the break in a new direction. This allows them to move. They reproduce asexually.\n<h4>co-nas</h4>Some tzizet when split have no intelegence and sit without moving. This is a mutation and tzizet of this type are reguarded as a seperate speacies. These unintelegent tzizet cause other crystals to form and grow faster by releasing the proper chemicals into the air that facilitate crystal growth."}); -%>

<%- include('../../partials/section', {page: 'Tzizet',title: 'Manipulation',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Tzizet',title: 'Society',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Tzizet',title: 'Factions',section: "Coming Soon"}); -%>
		
<%- include('../../partials/section', {page: 'Tzizet',title: 'Homeworld',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Tzizet',title: 'Systems',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Tzizet',title: 'History',section: "Coming Soon"}); -%>

	</center>
  </body>
</html>
<%- include('../../partials/footer') %>