<!DOCTYPE html>
<html>
  <%- include('../../partials/header') %>
  <script src="../../javascripts/three.js"></script>
  <script src="../../javascripts/GLTFLoader.js"></script>
  <link rel="stylesheet" href="../../stylesheets/slider.css">
  <body>
    <%- include('../../partials/topbar') %>
	<style>
td {
   border-width: 3px;

}
	</style>
	<center>
		<h1>Ur'rungon</h1>
		<h4>Techno Technologicals</h4>
		Nanite perfection.
		</br>

<%- include('../../partials/section', {page: 'Urrungon',title: 'Forms',section: "<h4>Ur'rungon</h4>\nThe Ur'rungon look like a cross between a naked mole rat and an ant. They live in large hives with which there is a queen and the rest are drones just like most hive species on earth. All Ur'rungon are capable of reproducing but only those individuals designated as queen reproduce. If a queen dies a new individual is promoted to queen. There are few natrual Ur'rungon left. Almost all Ur'rungon have converted themselves into nanites and natural born Ur'rungon have become rare.\n<h4>Ur'rungon Mites</h4>\nMites are a form of Ur'rungon born smaller and less intelegent. Mites act as the cleaners of a colony. Even though they are genetically exactly the same as other Ur'rungon but are not intelegent.\n<h4>Acended</h4>\nMost of the Ur'rungon have modified themselves into a nanite swarm. Most of the swarm consists of microscopic mechanical drones."}); -%> 

<%- include('../../partials/section', {page: 'Urrungon',title: 'Manipulation',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Urrungon',title: 'Society',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Urrungon',title: 'Factions',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Urrungon',title: 'Homeworld',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Urrungon',title: 'Systems',section: "Coming Soon"}); -%>

<%- include('../../partials/section', {page: 'Urrungon',title: 'History',section: "Coming Soon"}); -%>

	</center>
  </body>
</html>
<%- include('../../partials/footer') %>